//цветовые переменные
$bg-bl: #000000;
$bg-blue-dark: #1d2631;
$bg-dark: #283645;
$bg-light: #f2f2f2;
$bg-wh: #ffffff;
$text-wh: #ffffff;
$text-bl: #000000;
$text-dark: #283645;
$text-pink: #d22856;
$btn-gr: rgba(42, 171, 109, 1);

//шрифты
$open-sans: "Open Sans";

body {
  margin: 0;
  background-color: $bg-wh;
  color: $text-bl;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
