body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --advantage1: url("../img/advantage1.png");
  --advantage2: url("../img/advantage2.png");
  --advantage3: url("../img/advantage3.png");
  --rev-q: url("../img/quotes.png");
  --btn-left: url("../img/left-arrow.png");
  --btn-right: url("../img/right-arrow.png");
  --email-form: url("../../img/form-mail-icon.png");
  --phone-form: url("../../img/form-phone-icon.png");
}
