//цвет
$white: #ffffff;
$black: #000000;
$dark: #283645;
$blue-dark: #1d2631;
$light: #f2f2f2;
$pink: #d22856;
$green: #2aab6d;
$grey: #e5e5e5;

//фоновый цвет
$bg-page: #ffffff;

//шрифты
$base-font: "Open Sans";
$color-page: #000000;

//viewports
$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 659px;
