//цветовые переменные
$bg-bl: #000000;
$bg-blue-dark: #1d2631;
$bg-dark: #283645;
$bg-light: #f2f2f2;
$bg-wh: #ffffff;
$text-wh: #ffffff;
$text-bl: #000000;
$text-dark: #283645;
$text-pink: #d22856;
$btn-gr: #2aab6d;

//шрифты
$open-sans: "Open Sans";

//viewports
$tablet-width: 660px;
$desktop-width: 1200px;
$mobale-width-only: 659px;
