.advantages {
  background-color: $bg-wh;
}

.advantages__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $text-dark;
  align-items: center;
  text-align: center;
}

.advantages__list {
  background-color: $bg-light;
}

.advantages__title--item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: $text-bl;
}

.advantages__description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $text-dark;
  align-items: center;
  text-align: center;
}
