.advantages {
  background-color: #ffffff;
}

.advantages__title {
  align-items: center;
  text-align: center;
}

.advantages__list {
  background-color: #f2f2f2;
}

.advantages__description {
  align-items: center;
  text-align: center;
}
