.card__legend {
  background-color: #d22856;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.card__user-name {
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #283645;
}

.card__period {
  align-items: center;
  text-transform: uppercase;
  color: #283645;
}

.card__text {
  align-items: center;
  color: #283645;
}

.card__like {
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: #d22856;
}
