.card {
  position: relative;
  margin-bottom: 20px;
  background-color: $light;
}

.card__panorama {
  position: relative;

  @media (min-width: $tablet-width) {
    @include tablet-max-width;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin-right: 0;
  }
}

.card__legend {
  display: inline-block;
  min-width: 140px;
  min-height: 36px;
  background-color: $pink;
  color: $white;
  font-weight: $weight-bold;
  font-size: 12px;
  line-height: 200%;
  text-align: center;
  padding: 13px 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.card__photo {
  margin-bottom: 0;

  &--panorama {
    position: absolute;
    width: 320px;
    left: -20px;
    top: -137px;

    @media (min-width: $tablet-width) {
      width: 660px;
      top: -260px;
    }
  }
}

.card__info {
  margin-top: 0;
  padding-left: 17px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    height: 155px;
  }

  &--panorama {
    @media (min-width: $tablet-width) {
      height: 121px;
    }
  }
}

.card__container {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.card__user-name {
  align-items: center;
  font-weight: $weight-bold;
  font-size: 14px;
  line-height: 24px;
  color: $dark;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }
}

.card__period {
  align-items: center;
  text-transform: uppercase;
  font-weight: $weight-light;
  font-size: 12px;
  line-height: 24px;
  color: $dark;
}

.card__text {
  align-items: center;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark;
  margin: 0;
}

.card__activ {
  &--panorama {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: 30px;
      right: 0;
      justify-content: end;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card__button {
  background-image: $heard;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 15px;
  height: 14px;
  cursor: pointer;
  margin-right: 18px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-right: 0 auto;
  }
}

.card__like {
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: $pink;

  &--panorama {
    @media (min-width: $tablet-width) {
      margin-right: 16px;
    }
  }
}
