.card {
  position: relative;
  margin-bottom: 24px;
  background-color: $light;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.card__panorama {
  display: block;
  width: 300px;
  margin: 0 -10px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 640px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 -130px;
  }

  &::before {
    content: "Панорама дня";
    width: 140px;
    height: 36px;
    outline-offset: -1px;
    background-color: $pink;
    font-family: $base-font;
    font-weight: $weight-bold;
    font-size: 12px;
    line-height: 200%;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 8px;
    position: absolute;
    top: 0;
    right: 20px;

    @media (min-width: $tablet-width) {
      top: 57px;
    }

    @media (min-width: $desktop-width) {
      top: 54px;
      right: 130px;
    }
  }
}

.card__photo {
  display: block;
  padding: 0;
  margin: 0;

  &:not(:first-of-type) {
    width: 280px;
    height: 180px;

    @media (min-width: $tablet-width) {
      width: 300px;
      height: 300px;
    }

    @media (min-width: $desktop-width) {
      max-width: 300px;
      height: 400px;
    }
  }

  &--panorama {
    width: 320px;

    @media (min-width: $tablet-width) {
      width: 660px;
      height: 509px;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
      height: 506px;
    }
  }
}

.card__info {
  margin-top: 19px;
  padding-left: 17px;
  padding-bottom: 26px;
  padding-right: 0;
  display: grid;
  grid-template-columns: 31px 1fr;
  grid-template-rows: 24px 1fr 13px;

  @media (min-width: $tablet-width) {
    height: 126px;
    margin-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
    grid-template-columns: 1fr 31px;
  }

  @media (min-width: $desktop-width) {
    height: 135px;
    padding-bottom: 33px;
  }

  &--panorama {
    @media (min-width: $tablet-width) {
      height: 121px;
      grid-template-columns: 1fr 106px 13px;
    }

    @media (min-width: $desktop-width) {
      height: 70px;
      padding-bottom: 20px;
    }
  }
}

.card__user-name {
  align-items: center;
  font-weight: $weight-bold;
  font-size: 14px;
  line-height: 171%;
  color: $dark;
  margin: 0;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.card__period {
  align-items: center;
  text-transform: uppercase;
  font-weight: $weight-light;
  font-size: 12px;
  line-height: 200%;
  color: $dark;
}

.card__text {
  align-items: center;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 171%;
  color: $dark;
  margin: 0;
  margin-bottom: 11px;
  padding-right: 12px;
  grid-column: 1 / 3;
  grid-row: 2 / 3;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    &--panorama {
      padding: 0;
      grid-column: 1 / 4;
    }
  }
}

.card__button {
  background-image: $heard;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 15px;
  height: 14px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 18px;
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-left: 18px;
  }

  &--panorama {
    @media (min-width: $tablet-width) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      margin-left: 0;
    }
  }
}

.card__like {
  font-family: $base-font;
  font-weight: $weight-normal;
  font-size: 12px;
  line-height: 200%;
  text-transform: uppercase;
  color: $pink;
  vertical-align: middle;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  &--panorama {
    @media (min-width: $tablet-width) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
}
