.contest__form fieldset {
  border: none;
}

.form-title {
  font-family: inherit;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;

  @include align-center;
}

.button-form {
  margin: 0 auto;

  @include btn-form;
}

//desktop
@media (min-width: $desktop-width) {
  .contest__form fieldset:not(:first-child) {
    border: 2px solid $grey;
  }
}
