.contest__text {
  background-color: $white;
  color: $dark;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-align: center;
}

.contest__form fieldset {
  border: none;
}

.contest__form--button-submit {
  display: block;
  background: $green;
  color: $white;
  border: 2px solid $green;
  border-radius: 1px;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contest__form--legend {
  align-items: center;
  text-transform: uppercase;
}
