.edition {
  display: flex;
  border-bottom: 3px solid rgba(40, 54, 69, 0.1);
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    align-items: flex-start;
  }
}

.edition__item {
  min-width: 50px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: 3px solid rgba(40, 54, 69, 0.1);
    padding-top: 10px;
    padding-bottom: 23px;
    height: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 113px 1fr;
    padding-top: 0;
    padding-bottom: 10px;
    height: 55px;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.edition__button {
  border: none;
  background-color: transparent;
  margin-right: 35px;
  margin-bottom: 75px;
  cursor: pointer;

  &--current svg {
    fill: $pink;
    fill-opacity: 1;
  }

  &--contrast {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 44px;
    margin-bottom: 0;
    padding: 0;
  }
}

.edition__icon {
  fill: $dark;
  fill-opacity: 0.3;

  &:hover {
    fill-opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    fill: $pink;
    fill-opacity: 1;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    width: 48px;
    height: 48px;

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }
}

.edition__change {
  position: relative;

  &--crop {
    position: relative;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--fill {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      position: relative;
    }
  }

  &--contrast {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      position: relative;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 288px;
  }
}

.edition__range-bar {
  position: absolute;
  height: 3px;
  background-color: $dark;
  width: 240px;
  top: -34px;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 202px;
    top: 11px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
    top: 50%;
  }
}

.edition__toggle {
  position: absolute;
  top: -6px;
  width: 14px;
  height: 14px;
  background-color: $white;
  border: 2px solid $pink;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;

  &--crop {
    right: 33px;
  }

  &--fill {
    @media (min-width: $tablet-width) {
      left: 38px;
    }
  }

  &--contrast {
    @media (min-width: $tablet-width) {
      left: 140px;
    }
  }

  &:hover {
    background-color: $pink;
  }
}
