.emotions__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $pink;
}

.emotions input {
  border: 2px solid $grey;
  border-radius: 1px;
}
