.form-input {
  min-width: 276px;
  font-family: inherit;
  border: 2px solid $grey;
  border-radius: 1px;
  color: $dark;
  line-height: 30px;
  padding: 23px 20px;
}

.form-input:hover {
  border: 2px solid $dark;
}

.form-input:active {
  border: 2px solid $pink;
}
