.form-label {
  font-family: inherit;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;
  align-items: center;
  margin-left: 20px;
}
