.form fieldset {
  border: none;

  @media (min-width: $tablet-width) {
    &:not(:first-child) {
      border: 2px solid $grey;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    @include tablet-max-width;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;
    display: grid;
    grid-template-columns: 440px 440px;
    row-gap: 50px;
    column-gap: 65px;
    margin-bottom: 69px;
    padding-left: 10px;
  }
}

.form__group {
  &--user-data {
    @media (min-width: $tablet-width) {
      order: 1;
    }

    @media (min-width: $desktop-width) {
      width: 433px;
      height: 297px;
    }
  }

  &--platforms {
    @media (min-width: $tablet-width) {
      order: 2;
    }

    @media (min-width: $desktop-width) {
      height: 315px;
    }
  }

  &--user-contacts {
    @media (min-width: $tablet-width) {
      order: 3;
    }

    @media (min-width: $desktop-width) {
      @include desktop-max-width;
      grid-column: 1 / 3;
    }
  }

  &--progress {
    @media (min-width: $tablet-width) {
      order: 4;
    }

    @media (min-width: $desktop-width) {
      @include desktop-max-width;
      grid-column: 1 / 3;
    }
  }

  &--emotions {
    @media (min-width: $tablet-width) {
      @include tablet-max-width;
      order: 5;
    }
  }
}

.form__inner {
  display: flex;
  flex-direction: column;

  &--user-data {
    &:not(:last-child) {
      margin-bottom: 18px;

      @media (min-width: $tablet-width) {
        margin-bottom: 55px;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 57px;
      }
    }

    @media (min-width: $tablet-width) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.form__title {
  @include form-title;
  font-size: 14px;
  line-height: 129%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 42px;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 38px;

  @media (min-width: $tablet-width) {
    @include tablet-max-width;
    top: 0;
    padding: 0;
    margin-bottom: 0;
    line-height: 214%;
  }
}

.form__label {
  font-family: inherit;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;
  align-items: center;
}

.form__input {
  min-width: 276px;
  border: 2px solid $grey;
  border-radius: 1px;
  font-family: inherit;
  color: $dark;
  font-size: 18px;
  line-height: 167%;
  font-weight: $weight-normal;

  &:hover {
    border: 2px solid $dark;
  }

  &:active {
    border: 2px solid $pink;
  }
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include tablet-max-width;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;
    padding-left: 10px;
  }
}

.form__button {
  @include btn-form;
  margin: 0 auto;
  margin-bottom: 35px;

  &:hover {
    background: $green-dark;
    border: 2px solid $green-dark;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background: $grey;
    border: 2px solid $grey;
  }

  @media (min-width: $tablet-width) {
    min-width: 265px;
    margin: 0;
    padding: 15px 55px;
  }
}

.form__info {
  text-transform: uppercase;
  font-style: normal;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 214%;

  &--short {
    margin: 0 auto;
    margin-bottom: 26px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline-block;
    }
  }
}
