.header-main {
  height: 733px;
}

.title-main {
  display: inline-block;
  margin: auto;
  line-height: 120%;
}

//tablet
@media (min-width: $tablet-width) {
  .header-main {
    height: 729px;
  }
}

//desktop
@media (min-width: $desktop-width) {
  .header-main {
    height: 853px;
  }
}
