.header-main {
  height: 733px;
}

.page-header__title--main {
  display: inline-block;
  margin: auto;
  line-height: 120%;
}

//tablet
@media (min-width: $tablet-width) {
  .header-main {
    height: 729px;
  }

  .page-header__wrapper--main {
    height: 729px;
  }
}

//desktop
@media (min-width: $desktop-width) {
  .header-main {
    height: 853px;
  }

  .page-header__wrapper--main {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    height: 853px;
  }
}
