.header-main {
  height: 733px;
}

.header-main__title {
  line-height: 29px;
}

//tablet
@media (min-width: $tablet-width) {
  .header-main {
    height: 729px;
  }
}

//desktop
@media (min-width: $desktop-width) {
  .header-main {
    height: 853px;
  }
}
