.intro-platforms {
  background-color: $blue-dark;
  color: $white;
  text-align: center;
  padding-top: 20px;
}

.intro-platforms__wrapper {
  height: 271px;
}

.intro-platforms__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
}

.intro-platforms__button {
  display: inline-block;
  color: $white;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid $white;
  box-sizing: border-box;
  border-radius: 29px;
  padding: 21px 39px;
  margin-bottom: 32px;
}

.intro-platforms__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-platforms__link {
  margin-right: 35px;
}

.intro-platforms__legend {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
