.intro-platforms {
  background-color: $blue-dark;
  color: $white;
  text-align: center;
  padding-top: 20px;
}

.intro-platforms__wrapper {
  height: 271px;
}

.intro-platforms__button {
  @include btn-rounded;
  color: $white;
  border: 3px solid $white;
  border-radius: 29px;
  padding: 21px 39px;
  margin-bottom: 32px;
}

.intro-platforms__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-platforms__link {
  margin-right: 35px;
}

.intro-platforms__legend {
  font-weight: $weight-light;
  font-size: 14px;
  line-height: 24px;
}
