.logo-pink__link {
  &:first-child {
    margin-right: 12px;
  }

  &--icon {
    fill: $pink;
  }

  &--word:hover {
    fill: $pink;
  }

  &:active {
    fill-opacity: 0.3;
  }

  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &:first-child {
      margin-right: 8px;
      margin-left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: block;

    &:hover {
      fill: $pink;
    }

    &:active {
      fill-opacity: 0.3;
    }

    &--icon {
      display: none;
    }

    &--word {
      display: none;
    }
  }
}
