.logo-pink__nav {
  &:hover {
    fill: $pink;
  }

  &:active {
    fill: $white;
    fill-opacity: 0.3;
  }

  &--icon {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      fill: $white;
      margin-right: 10px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--word {
    fill: $white;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      fill: $white;
      margin: 0;
    }
  }
}

.logo-pink__total {
  display: flex;
  align-items: flex-end;

  &:hover svg {
    fill: $pink;
  }

  &:active svg {
    fill-opacity: 0.3;
  }
}

.logo-pink__link {
  &:first-child {
    margin-right: 12px;
  }

  &--icon {
    fill: $pink;
  }

  &--word:hover {
    fill: $pink;
  }

  &:active {
    fill-opacity: 0.3;
  }

  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &:first-child {
      margin-right: 8px;
      margin-left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: block;

    &:hover {
      fill: $pink;
    }

    &:active {
      fill-opacity: 0.3;
    }

    &--icon {
      display: none;
    }

    &--word {
      display: none;
    }
  }
}
