.main-nav {
  background-color: #283645;
  box-shadow: 0 1px 0 #000000;
}

.main-nav__toggle {
  background-color: transparent;
  border: none;
}

.main-nav__link {
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}
