.main-nav {
  background-color: $bg-dark;
  text-align: center;
  align-items: center;
}

.main-nav__toggle {
  background-color: transparent;
  border: none;
}

.main-nav__item {
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.main-nav__link {
  font-family: $open-sans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  align-items: center;
  text-transform: uppercase;
  color: $text-wh;
}
