.map {
  margin: 0 auto;
  padding: 0;
  min-height: 200px;
  position: relative;

  &::after {
    content: "";
    width: 300px;
    height: 120px;
    background-image: $bg-map-mobile;
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
    z-index: 0;
  }

  @media (min-width: $tablet-width) {
    min-height: 374px;

    &::after {
      width: 660px;
      background-image: url("../img/bg-img/triangle-map-tablet.png");
      top: -55px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 502px;

    &::after {
      width: 1200px;
      background-image: url("../img/bg-img/triangle-map-desktop.png");
      top: -30px;
      z-index: 2;
    }
  }
}

.map iframe {
  display: block;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 490px;
  }
}
