.modal {
  position: fixed;
  top: 50%;
  left: 22%;

  background-color: $white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 1px;
  max-width: 320px;
  min-height: 289px;

  @media (min-width: $tablet-width) {
    left: 27%;
    max-width: 460px;
  }

  @media (min-width: $desktop-width) {
    left: 20%;
    max-width: 780px;
    min-height: 377px;
  }
}

.modal-closed {
  display: none;
}

.modal-opened {
  display: block;
}

.modal__failure {
  padding: 22px;
  height: 289px;
  padding-top: 25px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    height: 363px;
  }
}

.modal__success {
  height: 380px;
  background: $light;
  border-radius: 0 0 1px 1px;

  @media (min-width: $tablet-width) {
    height: 432px;
  }
}

.modal__content {
  background-color: $white;
  padding: 22px;

  &--failure {
    padding-bottom: 30px;

    @media (min-width: $tablet-width) {
      padding-top: 15px;
      padding-bottom: 38px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 106px;
    }
  }

  &--success {
    padding-bottom: 20px;

    @media (min-width: $tablet-width) {
      padding: 10px 65px;
    }

    @media (min-width: $desktop-width) {
      padding: 10px 160px;
      padding-bottom: 20px;
    }
  }
}

.modal__title {
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 133%;
  color: $black;
  text-align: center;

  &--success {
    margin-bottom: 25px;
  }

  &--failure {
    @media (min-width: $tablet-width) {
      margin: 0 auto;
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.modal__text {
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 171%;
  color: $dark;
  text-align: center;

  &--failure {
    @media (min-width: $tablet-width) {
      padding-left: 58px;
      padding-right: 58px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      padding-left: 163px;
      padding-right: 163px;
      margin-top: 30px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 133%;
  }
}

.modal__close {
  &--failure {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &--success {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

.modal__button {
  @include btn-form;
  margin: 0 auto;

  &:hover {
    background: $green-dark;
    border: 2px solid $green-dark;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    min-width: 300px;
  }

  &--success {
    @media (min-width: $desktop-width) {
      min-width: 456px;
    }
  }
}
