.nav {
  text-align: center;
  min-height: 66px;
  background-color: $black;

  @media (min-width: $tablet-width) {
    height: 110px;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.nav__wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1200px;
  }
}

.nav__logo {
  min-height: 23px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    min-height: 40px;
    min-width: 145px;
  }

  @media (min-width: $desktop-width) {
    min-width: 147px;
  }
}

.nav__logo-word {
  fill: $white;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: $white;
    fill-opacity: 0.3;
  }
}

.nav__logo-glasses {
  display: none;
}

@media (min-width: $tablet-width) {
  .nav__logo-glasses {
    display: none;
    fill: $white;

    &:hover {
      fill: $pink;
    }

    &:active {
      fill: $white;
      fill-opacity: 0.3;
    }
  }
}

.nav__toggle {
  background-color: transparent;
  border: none;
  fill: $white;
  cursor: pointer;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: $pink;
    fill-opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  background: $dark;
  box-shadow: 0 1px 0 $black, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: $desktop-width) {
    display: flex;
    border: none;
    background: transparent;
  }
}

.nav__item {
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin-right: 78px;
    box-shadow: none;

    &:last-child {
      margin-right: 0;
    }
  }
}

.nav__link {
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 32px;
  align-items: center;
  text-transform: uppercase;
  color: $white;

  &:hover {
    color: $pink;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .nav__link--current {
    text-decoration: 2px;
    text-decoration-color: $white;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 19px;
  }
}
