.page-header {
  min-height: 733px;
  color: $white;
  // background-image: url(../../img/back-mobile.jpg);
  // background-repeat: no-repeat;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  height: 66px;
  padding: 20px;
  background-color: $blue-dark;
  opacity: 0.3;
  background-image: url(../../img/back-mobile.jpg);
  background-repeat: no-repeat;

}

.page-header__logo-word {
  height: 23px;
}

//tablet
@media (min-width: $tablet-width) {
  .page-header {
    height: 729px;
  }

  .page-header__wrapper {
    height: 110px;
  }
}

//desktop
@media (min-width: $desktop-width) {
  .page-header {
    height: 853px;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    height: 110px;
  }
}
