.reviews {
  background-color: $bg-page;
}

.reviews__wrapper {
  height: 364px;

  @media (min-width: $tablet-width) {
    height: 221px;
  }

  @media (min-width: $desktop-width) {
    height: 292px;
  }
}

.reviews__item {
  @include align-center;
}

.reviews__author-name {
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 30px;
  color: $black;

  @include align-center;
}

.reviews__text {
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark;

  @include align-center;
}
