.reviews {
  background-color: $bg-page;
}

.reviews__wrapper {
  @include mobile-max-width;
  min-height: 310px;
  margin: 0 auto;
  padding: 45px 20px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    min-width: 620px;
    min-height: 221px;
    padding: 0;
    padding-top: 75px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;
    min-height: 290px;
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
  }
}

.reviews__list {
  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    margin: 0 auto;
    align-items: center;
  }
}

.reviews__item {
  @include mobile-max-width;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include tablet-max-width;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    min-width: 690px;
  }
}

.reviews__author-info {
  display: flex;
  flex-direction: column;

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      background-image: var(--rev-q);
      background-repeat: no-repeat;
      background-size: 79px 63px;
      background-position: top;
      width: 79px;
      height: 63px;
      margin: auto;
    }
  }
}

.reviews__author-name {
  font-weight: $weight-bold;
  font-style: normal;
  font-size: 18px;
  line-height: 167%;
  color: $black;
  padding-right: 27px;
  margin-bottom: 10px;
  text-align: center;

  @media (min-width: $tablet-width) {
    order: 2;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
    padding-top: 6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 125%;
    margin-bottom: 0;
    padding-left: 20px;
  }
}

.reviews__author-profile {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 0;
    font-weight: $weight-normal;
    font-size: 14px;
    line-height: 214%;
    order: 3;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 18px;
    line-height: 167%;
    padding-left: 15px;
  }
}

.reviews__text {
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 214%;
  color: $dark;
  margin: 0;
  margin-bottom: 28px;
  padding-right: 15px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 167%;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    padding: 0;
    margin-top: 48px;
    margin-bottom: 28px;
  }
}
