.upload {
  background-color: $light;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-bottom: 0;
  }
}

.upload__subtitle {
  background-color: $white;
  text-align: center;
  margin: 0 auto;
  padding: 42px 5px;
  padding-bottom: 55px;

  @media (min-width: $tablet-width) {
    padding: 70px 78px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0 65px 0;
  }
}

.upload__subtext {
  @include mobile-max-width;
  padding: 0;
  margin: 0 auto;
  font-weight: $weight-normal;
  font-size: 14px;
  line-height: 214%;
  color: $dark;

  @media (min-width: $tablet-width) {
    @include tablet-max-width;
    font-size: 18px;
    line-height: 167%;
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;
  }
}

.upload__wrapper {
  @include mobile-max-width;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    @include tablet-max-width;
    padding-top: 55px;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-max-width;
    background-color: $light;
    background-size: auto;
    height: 514px;
    margin: 0 auto;
    grid-template-columns: 450px 1fr;
    padding-top: 57px;
    padding-bottom: 57px;
    padding-right: 55px;
    gap: 0;
  }
}

.upload__photo {
  display: block;
  margin-bottom: 40px;
  width: 280px;
  height: 374px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 300px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 85px;
    margin-right: 0;
  }
}

.upload__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.upload__edition {
  justify-content: center;
}

.upload__button-holder {
  @media (min-width: $tablet-width) {
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-right: 0;
  }
}

.upload__button {
  @include btn-rounded;
  min-width: 260px;
  cursor: pointer;

  &--submit {
    color: $pink;
    border: 3px solid $pink;
    margin-bottom: 12px;

    &:hover {
      background-color: $pink;
      color: $white;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 24px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 auto;
      margin-right: 30px;
    }
  }

  &--reset {
    color: $blue-dark;
    opacity: 0.1;
    border: 3px solid $dark;

    &:hover {
      color: $dark;
      opacity: 0.3;
      border: 3px solid $dark;
    }

    &:active {
      color: $white;
      background: $dark;
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 183px;
  }
}
