//tablet
@media (min-width: $tablet-width) {
  .wrapper-main {
    height: 729px;
  }
}

//desktop
@media (min-width: $desktop-width) {
  .wrapper-main {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    height: 853px;
  }
}
